.fakeimg {
    height: 1px;
    background: #eee;
    
}
.pfp{
  height: 300px;
}
#h1 {
text-align: center
}

#progit{
  width: 700px;
  height: 900px;
  margin: auto;
}

.kozep{
  text-align: center;
}

.videok{
  float:left;
  margin-right:20px;
}
p{
  text-align: center;
}